.calendar-box{
    width: 500px;
    height: 500px;
    margin: auto;
    border: 2px solid #ecffb3;
    padding: 10px;
}


.top-row{
    width: 500px;
    height: 50px;
}
.btn-cal {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: none;
    margin-top: 5px;
    text-decoration-color: black;
}
.btn-cal .prev{
    content: '<';
    position: absolute;
    font-weight: bold;
    line-height: 25px;
    font-size: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-cal .next{
    content: '>';
    position: absolute;
    font-weight: bold;
    line-height: 25px;
    font-size: 20px;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.cal-table{
    width:100px;
}
